@import "tailwindcss";

body {
  background-color: #eff2f0;
  font-family: Manrope;
}
.isActive {
  font-size: bold;
  border-bottom: 3px solid #46604e;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .mobile {
    position: absolute;
    top: 13%;
    left: 15px;
    transform: translateY(-13%);
  }
  .title-home1 {
    font-size: small;
    margin-bottom: 5px;
    color: #46604e;
  }
  .title-home2 {
    font-size: larger;
    margin-bottom: 3px;
    color: #46604e;
  }
  .title-home3 {
    font-size: small;
    color: #46604e;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-home {
    margin-top: 10px;
    padding: 2px 10px;
  }
}
